extend ../../layouts/default.pug
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/form-change-multi
include ../../mixins/alert
include ../../mixins/sort
include ../../mixins/moment

block main
    +alert-success(500)
    if(role.permissions.includes("products_view"))

        h1 #{pageTitle}

        .card.mb-3
            card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-6
                        +filter-status(filterStatus)
                    .col-6
                        +search(keyword)

        .card.mb-3
                        .card-header Sắp xếp
                            .card-body
                                .row
                                    .col-4
                                        +sort()

        .card.mb-3
            card-header #{pageTitle}
            .card-body
                .row 
                    .col-8
                        if(role.permissions.includes("products_edit"))
                            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                    .col-4 
                        if(role.permissions.includes("products_create"))
                            a(
                                    href=`${prefixAdmin}/products/create`
                                    class="btn btn-outline-success"
                                ) + Thêm mới

                table(
                    class=".table .table-hover .table-lg"
                    checkbox-multi
                )
                    thead
                        tr
                            th(class="p-2")  
                                input(type="checkbox" name="checkall")
                            th(class="p-2")  STT
                            th(class="p-2")  Hình ảnh
                            th(class="p-2")  Tiêu đề
                            th(class="p-2")  Giá
                            th(class="p-2")  Vị trí
                            th(class="p-2")  Trạng thái
                            th(class="p-2")  Người tạo
                            th(class="p-2")  Người Sửa
                            th(class="p-2")  Hành động
                    tbody
                        each item, index in products
                            tr
                                td(class="p-3") 
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value=item.id
                                    )
                                td(class="p-3")  #{pagination.limitItem * (pagination.currentPage - 1) + (index + 1)}
                                td(class="p-3") 
                                    img(
                                        src=item.thumbnail
                                        alt=item.title
                                        width="100px"
                                        height="auto"
                                    )
                                td(class="p-3")  #{item.title}
                                td(class="p-3")  #{item.price} $
                                td(class="p-3") 
                                    input(
                                        type="number"
                                        value=item.position
                                        style="width: 60px"
                                        min="1"
                                        name="position"
                                    )
                                td(class="p-3") 
                                    //- products_edit EXIST
                                    if(role.permissions.includes("products_edit"))
                                        if (item.status == "active")
                                            a(
                                                href=`javascript:;`
                                                button-change-status
                                                data-status='active'
                                                data-id=item.id
                                                class="btn btn-success"
                                            ) Hoạt động
                                        else
                                            a(
                                                href=`javascript:;`
                                                button-change-status
                                                data-status='inactive'
                                                data-id=item.id
                                                class="btn btn-danger"
                                            ) Dừng Hoạt động
                                    else 
                                        if (item.status == "active")
                                            button(
                                                class="btn btn-success"
                                            ) Hoạt động
                                        else
                                            button(
                                                class="btn btn-danger"
                                            ) Dừng Hoạt động
                                td(class="p-3") 
                                    p #{item.userFullName}
                                    p 
                                        +formatDateTime(item.createdBy.createdAt)
                                
                                td(class="p-3") 
                                    //- item.updatedBy.slice(-1)[0]: lấy phần tử CUỐI CÙNG
                                    - const updatedBy = item.updatedBy.slice(-1)[0]
                                    if(updatedBy)
                                        p #{updatedBy.accountFullName}
                                        p 
                                            +formatDateTime(updatedBy.updatedAt)

                                td
                                    a(
                                        href=`${prefixAdmin}/products/detail/${item.id}`
                                        class="btn btn-secondary btn-sm"
                                    ) chi tiết
                                    if(role.permissions.includes("products_edit"))
                                        a(
                                            href=`${prefixAdmin}/products/edit/${item.id}`
                                            class="btn btn-warning btn-sm"
                                        ) Sửa
                                    if(role.permissions.includes("products_delete"))
                                        button(
                                            class="btn btn-danger btn-sm ml-1"
                                            data-id=item.id 
                                            button-delete
                                        ) Xóa
        +pagination(pagination)

        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/products/change-status`
        ) 

        form(
            action=""
            method="POST"
            id="form-delete-item"
            data-path=`${prefixAdmin}/products/delete`
        ) 

        script(src="/admin/js/product.js") 